.PaginationPanelRootContainer {
  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: 0;
  /* color: rgb(0, 0, 0); */
  /* text-align: center; */
  align-items: center;
  z-index: 1000;
  background-color: #9b9b9b;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
}
