.cardRootContainer {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background-color: #f9f9f9;
  margin: 0.6rem 0;
}

.cardInnerIntroContainer {
  width: 100%;
  height: auto;
  text-align: center;
}
.cardInnerIntroContainer img {
  width: 245px;
  height: auto;
}

.cartInnerInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

/* using the same properties for both button containers
 */
.cardButtonToDetailsContainer,
.cardButtonToDetailsNoImageCardContainer {
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}

/* using the same properties for both button containers
 */
.cardButtonToDetailsContainer button,
.cardButtonToDetailsNoImageCardContainer button {
  background-color: bisque;
}

@media (min-width: 1024px) {
  .cardRootContainer {
    margin: 0;
  }

  .cardButtonToDetailsNoImageCardContainer {
    margin-top: 0.5rem;
    justify-content: center;
  }
}
