.filmsPageRootContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 15%;
  /* color: rgb(0, 0, 0); */
  /* text-align: center; */
  align-items: center;
  z-index: 500;
  /* background-color: #9b9b9b; */
  background-color: #822f2f;
  padding: 0.6rem;
}
