.navBarInnerUl {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  gap: 0.8rem;
}

@media (min-width: 1024px) {
  .navBarInnerUl {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
