.detailsFilmRootContainer {
  padding: 0 20px 20px 20px;
  background-color: #f0f0f0;
}

.detailsFilmIntroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.detailsFilmIntroSection img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.detailsFilmRootContainer h2,
h3 {
  text-align: center;
  padding: 0.4rem 0;
}
