:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Development in Windows 10. 
   -Using Chrome browser
   -Dev mode Mobile = Samsung Galaxy S8 (360*740) 
   -Using vanilla CSS only in [Pages]
   -Using CSS modules only on [Custom Components]
   */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Global styles Mobile */
body {
  background-color: white;
}

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 1000;
  background-color: #9b9b9b;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #9b9b9b;
  font-size: medium;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
  width: 90vw;
  margin-bottom: 3rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

label {
  font-size: 1.4rem;
  margin-right: 0.4rem;
}

input {
  font-size: 1rem;
}

button {
  font-size: 1rem;
  padding: 0.2rem 0.2rem;
}

/* Home pages shared Mobile */
.homePage__rootContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem; /* TODO:create a new breakpoint */
}

.homePage_searchBar__rootContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 15%;
  align-items: center;
  z-index: 500;
  background-color: #00036e;
  padding: 0.6rem;
}

.homePage_paginationPanelMobile__rootContainer {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  align-items: center;
  z-index: 1000;
  background-color: #9b9b9b;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
}

.homePage_paginationPanelDesktop__rootContainer {
  display: none;
}

/* Details pages shared Mobile */
.detailsPage__rootContainer {
  padding: 0 20px 20px 20px;
  background-color: #f0f0f0;
}

.detailsPage_intro__Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.detailsPage_intro__Section img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.detailsPage_introMobile__Title {
  display: block;
}

.detailsPage_introDesktop__Title {
  display: none;
}

.detailsPage__rootContainer h2,
h3 {
  text-align: center;
  padding: 0.4rem 0;
}

.detailsPage_buttonBack__Container {
  display: flex;
  justify-content: center;
}

.detailsPage__ButtonBack {
  margin: 1rem 0;
  background-color: #00036e;
  color: white;
}

@media (min-width: 1024px) {
  /* Global styles Desktop */
  header {
    flex-direction: column;
    justify-content: space-between;
  }

  nav {
    width: fit-content;
    padding-right: 1rem;
    font-weight: 500;
    font-size: larger;
  }
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.3rem;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    width: auto;
  }

  label {
    font-size: 2rem;
    margin-right: 0.8rem;
  }

  input {
    font-size: 2rem;
  }

  button {
    font-size: 1.2rem;
    padding: 0.4rem 0.4rem;
  }

  /* Home pages shared */
  .homePage_searchBar__rootContainer {
    top: 5%;
  }

  .homePage_paginationPanelMobile__rootContainer {
    display: none;
  }

  .homePage_paginationPanelDesktop__rootContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
  }

  /* Details pages shared */
  .detailsPage__rootContainer {
    width: 50%;
  }

  .detailsPage_character___rootContainer {
    width: 30%;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }

  .detailsPage_intro__Section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
    padding: 1.5rem 0;
  }

  .detailsPage_character_intro__Section {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .detailsPage_intro__Section img {
    width: 400px;
    height: auto;
  }

  .detailsPage_introMobile__Title {
    display: none;
  }

  .detailsPage_introDesktop__Title {
    display: block;
  }

  .detailsPage_relatedLinks__Section h3 {
    padding: 1rem 0;
  }
}
