:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Development in Windows 10. Chrome browser
   Global Styles - Mobile = Samsung Galaxy S8 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* display: flex;
  flex-direction: column; */
  background-color: #ececec;
}

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 1000;
  background-color: #9b9b9b;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #9b9b9b;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

label {
  font-size: 1.4rem;
  margin-right: 0.4rem;
}

input {
  font-size: 1rem;
}

button {
  font-size: 1rem;
}

/* Global styles to Desktop or Laptop */
@media (min-width: 1024px) {
  header {
    flex-direction: row;
    align-items: center;
    height: 3.5vw;
    justify-content: space-between;
  }

  nav {
    width: fit-content;
    padding-right: 1rem;
  }
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.3rem;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1rem;
    padding: 1rem;
  }

  label {
    font-size: 2rem;
    margin-right: 0.8rem;
  }

  input {
    font-size: 2rem;
  }
}
