.filmsPageRootContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1.5rem; */
  width: 100%;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 15%;
  align-items: center;
  z-index: 500;
  background-color: #822f2f;
  padding: 0.6rem;
}

.PaginationPanelRootContainerMobile {
  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: 0;
  /* color: rgb(0, 0, 0); */
  /* text-align: center; */
  align-items: center;
  z-index: 1000;
  background-color: #9b9b9b;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
}

.PaginationPanelRootContainerDesktop {
  display: none;
}

/* .activePanelOnDesktop {
  display: none;
}

.inactivePanelOnDesktop {
  display: block;
} */

@media (min-width: 1024px) {
  .searchBarContainer {
    top: 5%;
  }

  .PaginationPanelRootContainerMobile {
    display: none;
  }

  .PaginationPanelRootContainerDesktop {
    display: flex;
    flex-direction: row;
  }

  /*  .inactivePanelOnDesktop {
    display: none;
  }

  .activePanelOnDesktop {
    display: block;
  } */
}
