.messageRootContainer {
  width: 100%;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 3, 110);
}
.error {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
}
.info {
  background-color: rgb(91, 135, 255);
  color: rgb(0, 0, 0);
}
